<div class="listFormWrapper">
  <%= form_for @list, :remote => true do |f| %>
    <div class="inputWrapper">
      <%= f.text_field :title, :autocomplete => "off", :placeholder => "List Title" %>
    </div>

    <div class="inputWrapper submit">
      <%= f.submit %>
      <a href="#" class="cancel">Cancel</a>
    </div>
  <% end %>
</div>
