<%= content_tag "ul", :id => id, :class => "tasks panel quadrantWrapper large-6 columns q#{id}" do %>
  <% @list.tasks_for_quadrant(id).each do |task| %>
    <%= render task %>
  <% end %>

  <%= render 'tasks/form' if @task.quadrant == id %>

  <li class="large-12 addTask columns <%= 'hidden' if @task.quadrant == id %>">
    <div class="row">
      <div class="large-1 columns"> </div>
      <%= link_to "Add New Task", list_path(@list, :quadrant => id), :data => {:add_task => id}, :class => 'large-11 columns' %>
    </div>
  </li>
<% end %>
