<div class="row">
  <div class='large-six columns'>
    <ul class="panel listsWrapper">
      <% @lists.each do |list| %>
        <li><%= link_to list.title, list %></li>
      <% end %>
    </ul>
  </div>
</div>
