<%= content_for :top_bar do %>
  <h1 class="listTitle">
    <a href="#"><%= @list.title %></a>
  </h1>
  <%= render "lists/form" %>
<% end %>

<div class="quadrantsWrapper large-12 small-12 columns" data-uuid=<%= @list.id %>>
  <div class="row">
    <%= render 'quadrant', :id => 2 %>
    <%= render 'quadrant', :id => 1 %>
  </div>
  <div class="row">
    <%= render 'quadrant', :id => 3 %>
    <%= render 'quadrant', :id => 4 %>
  </div>
</div>
