<li class="taskForm large-12 small-12 columns">
<%= form_for [@list, @task], :remote => true do |t| %>
  <%= t.hidden_field :quadrant %>

  <div class="row">
    <div class="large-1 small-1 columns">
      <%= t.check_box :completed %>
    </div>

    <div class="large-11 small-11 columns">
      <%= t.text_field :content, :placeholder => 'Task', :tabindex => 1, :autocomplete => "off" %>
    </div>
  </div>

  <div class="row">
    <div class="large-1 small-1 columns"> </div>

    <div class="large-11 small-11 columns submit">
      <%= t.submit "Save Task" %>
      <a href="#" class="cancel">Cancel</a>
    </div>
  </div>
<% end %>
</li>

