<li id=task-<%= task.id %> data-task-id=<%= task.id %> class="task large-12 small-12 columns <%= 'completed' if task.completed %>">
<div class="row">
  <span class="large-1 small-1 columns">
    <%= check_box :task, 
      :complete,
      :checked => task.completed ? true : false, 
      :data => {:toggle => :complete, :url => complete_list_task_path(task.list, task)}
    %>
  </span>

  <span class='large-10 small-10 columns'><%= task.content %></span>

  <div class='large-1 small-1 columns actionsWrapper'>
    <%= link_to list_task_path(task.list, task), :method => :delete, :remote => true, :class => 'deleteTask' do %>
      <i class="general foundicon-trash"></i>
    <% end %>
  </div>
</div>
</li>

