@import "reset";

body {
  background-color: #d9d9d9;
}

html, body {
  padding:0;
  margin:0;
}

.row {
  max-width: 100em;
}

.top-bar {
  margin-bottom: 0;
}

input[type="checkbox"] {
  /*height: 20px;*/
}

#global_loader {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  background: url(/assets/ajax-loader.gif) no-repeat;
  margin-top: -8px;
  margin-left: -8px;
}

