// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "reset";

.listTitle {
  font-size: 14px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;

  a {
    line-height: 35px;
    padding: 0px;
    margin: 0px;
  }

  a:hover {
    cursor: text;
  }
}

.listFormWrapper {
  @extend .clearfix;
  margin-left: 10px;
  height: 35px;

  display: none;

  .inputWrapper {
    float: left;
    margin-top: 3px;

    input[type="submit"] {
      margin-left: 10px;
      font-size: 14px;
    }

    input[type="text"] {
      padding: 0;
      margin: 0;
      border: 0;
      @include no_box_shadow();
      background: $topbar_color;
      border-bottom: 1px dashed #ccc;
      padding-left: 1px;
    }
  }

  .submit {
    margin-top: 10px;
    margin-left: 10px;
  }
}
