// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "reset";

$blue_border: #6d90b4;
$red_border: #d66868;

.columns {
  padding-bottom: 0.9375em;
  padding-top: 0.9375em;
}

.quadrantsWrapper {
  margin: 0px;
  padding: 0px;

  .panel {
    overflow-y: auto;
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
    }

    .columns {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .task {
    overflow: hidden;
    font-size: 14px;
    float: left;

    input[type="checkbox"] {
      margin: 0;
    }

    .actionsWrapper {
      position: relative;

      .deleteTask {
        display: none;
        width: 14px;
        height: 14px;
      }

      .ajaxLoader {
        position: absolute;
        top: 2px;
      }
    }

    &:hover {
      background: #eee;
      .deleteTask {
        display: block;
      }
    }

    &.taskForm {
      background: none;
    }

    &.completed {
      display: none;

      span {
        text-decoration: line-through;
      }
    }
  }

  .quadrantWrapper {
    position: relative;
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border-width: 2px;

    &.ul {
      padding-bottom: 15px;
    }

    .addTask {
      font-size: 13px;
      text-decoration: underline;

      &.hidden {
        display: none;
      }
    }
  }
}

.q1 {
  border-bottom-color: $red_border;
  border-left-color: $red_border;
}

.q2 {
  border-right-color: $red_border;
  border-bottom-color:  $blue_border;
}

.q3 {
  border-top-color: $blue_border;
  border-right-color: $blue_border;
}

.q4 {
  border-left-color: $blue_border;
  border-top-color: $red_border;
}

.taskForm {
  margin-bottom: 15px;

  input[type="text"] {
    padding: 0;
    height: 25px;
    border: 0px;
    border-bottom: 1px dashed #ccc;
    @include no_box_shadow();
    font-size: 13.63636302947998px;
  }

  input[type="submit"] {
    margin-left: 0px;
  }

  form {
    margin: 0;
    padding: 0;
  }
}

.sortable-placeholder {
  display: block;
  position: relative;
  float: left;
  height: 22px;
  width: 100%;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.show_completed_toggle {
  @extend .clearfix;
  height: 35px;

  label {
    float: left;
    font-size: 11px;
    line-height: 35px;
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
  }

  input[type="checkbox"] {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    line-height: 35px;
    height: 35px;
  }
}
