<nav class="top-bar" style="">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">MyPlnr</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li>
        <%= link_to 'New List', new_list_path %>
      </li>
      <li class="divider"></li>
    </ul>
  </section>

  <section class="top-bar-section"> 
    <ul class="left">
      <li><%= yield(:top_bar) %> </li>
    </ul>
  </section>

  <section class="top-bar-section">
    <ul class="right">
      <li class="show_completed_toggle">
        <input type="checkbox" id="show_completed" name="show_completed">
        <label>Show completed tasks</label>
      </li>
    </ul>
  </section>
</nav>
